# Template
hatchling
editables
hydra-core
tqdm
wandb
pre-commit
black
# Alignment
accelerate==1.6.0
deepspeed
# deepspeed
datasets==3.5.0
# datasets
peft==0.15.1
trl==0.16.0
#trl
# Model Merging
git+https://github.com/swiss-ai/mergekit.git # swiss-ai fork of mergekit
